.projects {  
    text-align: center;   
    width:100vw;
    height:calc(100vh-80px);
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
     
}

.projects > h1{
    padding-bottom: 15px;
}

.projects > p{
    padding-bottom: 20px;
}

.projectsContainer__projects{
    display: flex;
    width: 60vw;
    margin-top:5opx;
    flex-wrap: wrap;
}