

.homepage__sections{
    width:100%;
    height: calc(100vh-80px);
    scroll-snap-type: y mandatory;
}
    ::-webkit-scrollbar {
        display: none;
    }/* Hide scrollbar for Chrome, Safari and Opera */
    *{
        -ms-overflow-style: none;
    }