.NavbarItems{
    background: rgb(25, 25, 148);
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    /*overflow: hidden;*/
    top:0;
    z-index: 1;
    width: 100%;
}

.navbar-logo{
    color: aliceblue;
    display: flex;
    flex: 0.4;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-logo > span{
    color:red;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

/*.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}*/

.nav-menu{
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav-links{
    color:white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.nav-links:hover{
    transform: scale(1.09);
    background-color: blueviolet;
    border-radius: 2px;
    color: white;
    padding: 5px 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.fa-bars{
    color: aliceblue;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:960px) {
    /*.NavbarItems{
        position: relative;
    }*/
    .NavbarItems{
        background: blue;
        height:60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: fixed;
        /*overflow: hidden;*/
        top:0;
        z-index: 1;
        width: 100%;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background: purple;
        opacity: 1;
        left: 0;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        cursor: pointer;
    }
    .nav-links:hover{
        background-color: blueviolet;
        border-radius: 0;
        transform: scale(1.09);
    }
    .navbar-logo{
        position: absolute;
        top:0;
        left:0;
        bottom: 30px;
        transform: translate(25%,50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 30px;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        color:white;
        font-size: 2rem;
    }
}